@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: poppins, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.main{
  width: 100%;
  background: url(images/Train-Go.png);
  background-position: center;
  background-size: cover;
  height: 110vh;
}

.top{
  color: white;
  display: flex;
  align-items: center;
  margin-left: 1200px;
  padding-top: 10px;
}

.top span{
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
padding-right: 28px;
cursor: pointer;
}

.top input{
  width: 104px;
height: 34px;
  background: #189DFD;
  color: white;
border-radius: 16px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
padding: 6px 26px;
border: none;
cursor: pointer;
}

.navbar{
  width: 100%;
  background: rgba(179, 179, 179, 0.08);
  height: 80px;
  margin-top: 10px;
}

.logo{
  display: flex;
  position: relative;
  left: 120px;
}

.navbar p{
  font-family: 'Futura';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
color: white;
display: flex;
}

.navbar p span{
  color: #189DFD;
}

.menu{
  display: flex;
  margin-left: 430px;
}

.menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li{
  list-style: none;
  margin-left: 78px;
}

.menu ul li a{
  text-decoration: none;
  color: white;
  font-style: normal;
font-weight: 600;
font-size: 16px;
}
 
.menu ul li a:hover{
  color: #189DFD;
} 
 
.navbar{
  display: flex;
  align-items: center;
}

.header-text{
  font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 65px;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 120px;
margin-top: 80px;
}

.header-text span{
  color: #FFB240;
}

.header-text .button input{
  background: #189DFD;
border-radius: 20px;
width: 124px;
height: 44px;
color: white;
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.header-text .button{
  margin-top: 24px;
}

/* Train Search Section */

.container{
  width: 1278px;
height: 318px;
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-left: 120px;
margin-top: 120px;
}

.field{
  padding: 24px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: poppins, Geneva, Tahoma, sans-serif;
}

.field .input-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.input-field input{
  height: 38px;
  width: 340px;
  margin-top: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #FFB340; 
  font-family: poppins, Geneva, Tahoma, sans-serif;
  outline: none;
}

.input-field input[type=text]{
  font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
text-align: center;
}

.input-field input[type=number]{
  font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
text-align: center;
}

.input-field input::placeholder{
  color: rgba(172, 172, 171, 0.87);
}

.input-field input[type=date]{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: rgba(172, 172, 171, 0.87);
}

.input-field label{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: rgba(0, 0, 0, 0.87);
}

.input-field i img{
  position: relative;
  left: 300px;
  top: -40px;
}

.container .button input{
  width: 174px;
height: 46px;
background: #189DFD;
border-radius: 16px;
border: none;
position: relative;
top: -64px;
left: 1070px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: white;
cursor: pointer;
}

.destination-content{
  margin-top: 240px;
  margin-left: 120px;

}

.destination-content .heading h3{
  font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 48px;
font-family: poppins, Geneva, Tahoma, sans-serif;
}

.destination-content .destination-cards{
  width: 348px;
height: 378px;
background-color: white;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-top: 32px;
}
 
.cards{
  display: flex;
}

.destination-cards{
  margin-right: 117px;
}

.destination-cards .top img{
  position: relative;
  left: -1200px;
  top: -10px;
}

.destination-cards .bottom{
  font-family: poppins, Geneva, Tahoma, sans-serif;
  padding-left: 12px;
  padding-top: 6px;
  
}

.destination-cards .bottom small{
  background: #D3E2FF;
border-radius: 16px;
padding: 4px 10px;
font-size: 11px;
font-weight: 400;
margin-bottom: 12px;
color: #189DFD;
}

.destination-cards .bottom small.goa{
  padding: 4px 28px;
}

.destination-cards .bottom small.jammu{
  padding: 4px 18px;
}

.destination-cards .bottom p{
  font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 36px;
margin-top: -6px;
}

.destination-cards .bottom span{
  font-style: normal;
font-weight: 558900;
font-size: 20px;
line-height: 30px;
font-weight: 500;
}

.destination-cards .bottom input{
  padding: 6px 10px;
  background: #189DFD;
border-radius: 8px;
border: none;
color: white;
position: relative;
left: 176px;
cursor: pointer;
}

.destination-cards .bottom .book{
  align-items: center;
  padding-top: 8px;
}

.bottom .top-position{
  display: flex;
  flex-direction: row;
}

.bottom .top-position .star{
background: #FFEED5;
border-radius: 16px;
height: 24px;
align-items: center;
padding: 10px 8px;
margin-left: 186px;
}

.bottom .top-position .star span{
  font-size: 12px;
  align-items: center;
  position: relative;
  top: -12px;
  padding-right: 4px;
}

.star img{
  align-items: center;
  position: relative;
  top: -10px;
  width: 14px;
  height: 14px;
}

/* Popular Train Container */

.popular-container{
  margin-top: 76px;
  margin-left: 120px;
}

.popular-container .train-card{
  width: 348px;
height: 264px;
background-color: white;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-top: 32px;
}

.popular-container .tittle h3{
  font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 48px;
font-family: poppins, Geneva, Tahoma, sans-serif;
}

.train-card .card-img .star{
  background: rgba(191, 191, 191, 0.53);
  border-radius: 16px;
  height: 24px;
  align-items: center;
  padding: 12px 10px;
  width: 60px;
  position: relative;
  top: -36px;
  left: 12px;
  }
  
  .train-card .card-img .star span{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    align-items: center;
    position: relative;
    top: -12px;
    padding-right: 4px;
  }
  
  .train-card .card-img .star img{
    align-items: center;
    position: relative;
    top: -10px;
    width: 14px;
    height: 14px;
    color: #FFFFFF;
  }

  .train-card .card-img button{
    background: #189DFD;
border-radius: 12px;
width: 86px;
height: 32px;
border: none;
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
cursor: pointer;
}

.train-card .card-img .button{
 margin-top: -68px;
 margin-left: 246px;
}

.train-card .train-name{
  font-style: normal;
font-weight: 500;
font-size: 24px;
text-align: center;
position: relative;
top: 20px;
}

.train-container{
  display: flex;
}

.train-container .train-card{
  margin-right: 117px;
}
/* Train Card Container Over */


/* Food Banner Start */
.food-banner{
  margin-top: 76px;
  margin-left: 120px;
  position: relative;
}

.food-banner img{
  width: 1278px;
}

.food-banner .layer img{
  position: absolute;
  top: -1px;
}

.food-banner p{
  position: absolute;
  top: 72px;
  font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FFFFFF;
margin-left: 38px;
}

.food-banner .button{
  position: absolute;
  top: 160px;
  margin-left: 38px;
}

.food-banner .button button{
 
background: #189DFD;
border-radius: 8px;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
border: none;
padding: 6px 16px;
cursor: pointer;
}
/* Food Banner Contant End */

/* Customer Says Contant Start */

.customer-container{
  margin-top: 120px;
}

.customer-container img{
  width: 100%;
}

.customer-container .gradient img{
  width: 100%;
  margin-top: -630px;
}

.customer-container p{
  font-style: normal;
font-weight: 500;
font-size: 36px;
position: absolute;
top: 2400px;
color: #FFFFFF;
margin-left: 560px;
}

.card-container .customers-card:hover{
  background-color: #FFFFFF;
  transition: 0.3s;
}

.card-container .customers-card{
  background: rgba(255, 255, 255, 0.8);
  width: 340px;
height: 372px;
border-radius: 16px;
position: relative;
margin-top: -460px;
margin-left: 68px;
}

.customers-card img{
  height: 72px;
  width: 72px;
  margin-top: 32px;
  margin-left: 134px;
  margin-right: 134px;
}

.customers-card h4{
  font-style: normal;
font-weight: 500;
font-size: 24px;
margin-top: 10px;
margin-left: 104px;
margin-right: 104px;
}

.customers-card small{
  font-style: normal;
font-weight: 400;
font-size: 14px;
margin: 0px 150px;
margin-top: 2px;
}

.customers-card .star{
 display: flex;
 margin-top: 12px;
 margin-left: 108px;
 margin-right: 108px;
}

.customers-card .star img{
  height: 24px;
  width: 24px;
  margin: 0px;
  padding-left: 6px;
}

.customers-card h6{
  color: black;
  font-style: normal;
font-weight: 400;
font-size: 17px;
text-align: center;
margin-top: 32px;
margin-left: 36px;
margin-right: 36px;
}

.card-container{
  display: flex;
}

.card-container .customers-card{
  margin-left: 140px;
}

/* News And Article */

.article{
  margin-top: 76px;
  margin-left: 120px;
}

.article h3{
    font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
}

.article .article-container .article-cards{
  width: 350px;
height: 454px;
background-color: white;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-top: 32px;
}

.article-cards .calender{
  width: 133px;
height: 36px;
background: #189DFD;
border-radius: 8px;
position: relative;
top: -50px;
left: 14px;
}

.article-cards .calender img{
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 4px;
  margin-top: 8px;
}

.article-cards .calender span{
  font-style: normal;
font-weight: 500;
font-size: 14px;
color: #FFFFFF;
position: relative;
top: -4px;
}

.article-container .icon{
  display: flex;
  margin-top: -24px;
}

.article-container .icon .admin{
  margin-left: 36px;
}

.article-container .icon .comments{
  margin-left: 40px;
}

.article-container .icon .admin span{
  font-style: normal;
font-weight: 500;
font-size: 14px;
color: #878787;
position: relative;
top: -4px;
}

.article-container .icon .comments span{
  font-style: normal;
font-weight: 500;
font-size: 14px;
color: #878787;
position: relative;
top: -7px;
}

.article-cards h6{
  font-style: normal;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-top: 24px;
margin-left: 12px;
margin-right: 12px;
}

.article-container{
  display: flex;
}

.article-cards{
  margin-right: 114px;
}

/* News And Article End */

/* Footer Start */
footer{
  width: 100%;
  height: 510px;
  background: #363636;
  margin-top: 76px;
}

footer h3{
  font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FFFFFF;
margin-top: 32px;
margin-bottom: 40px;
}

footer ul li{
  list-style: none;
  margin-bottom: 24px;
}

footer ul li a{
  text-decoration: none;
  font-style: normal;
font-weight: 300;
font-size: 17px;
color: #FFFFFF;
}

footer ul li a:hover{
text-decoration: underline;
}

footer .footer-section{
  display: flex;
  margin-left: 120px;
}

footer p{
  color: #FFFFFF;
  font-style: normal;
font-weight: 300;
font-size: 16px;
text-align: left;
width: 432px;
height: 150px;
line-height: 30px;
}

footer .features{
margin-right: 104px;
}

footer .book{
  margin-right: 104px;
}

footer .info{
  margin-right: 104px;
}

footer .follow{
 position: absolute;
 top: 3920px;
 left: 890px;
}

footer .follow img{
  margin-right: 40px;
  cursor: pointer;
}

.follow .media img{
  width: 32px;
  height: 32px;
}


/* Media Query 1024 scree Responsive */

@media only screen and (max-width: 1024px){

  /* BG Images */
  .main{
    width: 100%;
    background: url(images/Train-Go.png);
    background-position: center;
    background-size: cover;
    height: 110vh;
  }

  /* Header */
  .main .top{
    display: none;
  }

  .navbar{
    width: 100%;
    background: rgba(179, 179, 179, 0.08);
    height: 80px;
    margin-top: 0px;
  }
  
  .logo{
    display: flex;
    position: relative;
    left: 56px;
  }

  .menu{
    display: none;
  }

/* Header Text Content */

.header-text{
  font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 65px;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 56px;
margin-top: 80px;
}

/* Input Contant */
.container{
  width: 900px;
height: 460px;
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-left: 56px;
margin-top: 120px;
}

.container .button input{
  width: 130px;
height: 38px;
background: #189DFD;
border-radius: 16px;
border: none;
position: relative;
top: -64px;
left: 740px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: white;
cursor: pointer;
}

/* Destination Content */

.destination-content{
  margin-top: 360px;
  margin-left: 56px;
}

.destination-cards{
  margin-right: 32px;
}

.destination-content .cards{
  overflow: hidden;
  width: 96%;
  height: 440px;
  overflow-x: scroll;
}
.destination-content .cards::-webkit-scrollbar{
  width: 0.5px;
  scroll-behavior: smooth;
}

.popular-container{
  margin-top: 76px;
  margin-left: 56px;
}

.train-container .train-card{
  margin-right: 32px;
}

.train-container{
  overflow: hidden;
  width: 96%;
  overflow-x: scroll;
  height: 320px;
}

.train-container::-webkit-scrollbar{
  width: 0.5px;
}

/* Food Banner Section */
.food-banner{
  margin-top: 76px;
  margin-left: 56px;
  position: relative;
}

.food-banner img{
  width: 96%;
}

.food-text{
  position: relative;
  top: -220px;
}

/* Customer Says Section */

.customer-container .gradient{
  position: relative;
  bottom: -210px;
}

.card-container{
  display: flex;
  position: relative;
  top: 52px;
}

.card-container .customers-card{
  margin-left: 140px;
}

.customer-container .cus-img img{
  width: 100%;
  height: 560px;
}

.customer-container p{
  font-style: normal;
font-weight: 500;
font-size: 28px;
position: absolute;
top: 2400px;
left: 150px;
color: #FFFFFF;
}

}